<div class="container">

  <div class="header-collected text-center">
    <i class="fas fa-layer-group header-logo"></i>
    <p>Collected</p>
  </div>

  <div class="row">
    <div class="col-12 my-auto">
      <div class="w-80 mx-auto">

        <% @collectedcards.each do |card| %>
          <div class="card-trip business-card-frame" style="padding: 5px;">
            <div class="card-trip-infos col-auto mb-3">
                <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered"/>
                <div>
                  <h3><%= card.business_card.name %></h3>
                  <p><strong><%= "Name: #{card.business_card.firstname} #{card.business_card.lastname}" %></strong></p>
                  <p><%= "phone: #{card.business_card.phone}" %></p>
                  <p><%= "email: #{card.business_card.email}" %></p>
                </div>
            </div>
          </div>
        <% end %>


      </div>
    </div>
  </div>
</div>
<%= render '/shared/footer' %>

