<%= link_to business_cards_path, class: 'btn-back'  do %>
    <i class="fas fa-angle-left"></i>
<% end %>

<div class="container" style="background-color: #C8D5DA;">

  <div class="header-collected text-center">
    <i class="fas fa-layer-group header-logo"></i>
    <p>Contacts</p>
  </div>

  <%= form_tag collected_cards_path, method: :get do %>
   <%= text_field_tag :query,
     params[:query],
     class: "form-control",
     placeholder: "Search..."
   %>
   <%= submit_tag "Search", class: "btn btn-lg btn-block mt-2 search-btn" %>
 <% end %>

  <div class="row">
      <div class="col-12 my-auto">
        <div class="w-80 mx-auto">
          <% @cards.each do |card| %>


            <div class="text-center"> <%= link_to collected_card_path(card) do  %>
                <%= card.business_card.name %>
            <% end %>
            </div>
            <div class="business-card-frame">
                <div class="bc-card-info">
                    <div class="bc-card-logo logo-data">
                                        <div class="text-center"> <%= link_to collected_card_path(card) do  %>
                                            <%= card.business_card.name %>
                                                
                                                <% if Notification.find_by(collected_card_id: card.id) %>
                                                    <!-- display batch -->
                                                <% else %>
                                                    <!-- Do something else -->
                                                <% end %>
                                        <% end %>
                                        </div>
                                    <div class="business-card-frame">
                                            <div class="bc-card-info">
                                                <div class="bc-card-logo logo-data">

                                                <!-- <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
                                                 -->
                                                 <% if card.business_card.photo.attached? %>
                                                 <%= cl_image_tag card.business_card.photo.key, height: 45, width: 200, crop: :fit %>
                                                <% else %>
                                                <%= card.business_card.company %>
                                                 <% end %>
                                                </div>
                                                </div>
                                                <div class="bc-head">
                                                    <div class="box">
                                                        <div class="box-tag person-data">
                                                            <span class="bc-card-data card-name"><%= card.business_card.firstname %> <%= card.business_card.lastname %></span>
                                                            <br>
                                                            <span class="bc-card-data card-title"><%= card.business_card.jobtitle %></span>
                                                        </div>

                    <!-- <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
                      -->
                      <% if card.business_card.photo.attached? %>
                      <%= cl_image_tag card.business_card.photo.key, height: 45, width: 200, crop: :fit %>
                    <% else %>
                    <%= card.business_card.company %>
                      <% end %>
                    </div>
                </div>
                <div class="bc-head">
                    <div class="box">
                        <div class="box-tag person-data">
                            <span class="bc-card-data card-name"><%= card.business_card.firstname %> <%= card.business_card.lastname %></span>
                            <br>
                            <span class="bc-card-data card-title"><%= card.business_card.jobtitle %></span>
                        </div>

                    </div>
                </div>
                <div class="bc-body">
                    <div class="box">
                        <div class="box-tag contact-data">
                            <span class="bc-card-data"><%=card.business_card.phone %></span>
                            <br>
                            <span class="bc-card-data"><%= card.business_card.email %></span>
                        </div>
                        <div class="box-tag address-data">
                            <span class="bc-card-data"><%= card.business_card.streetname %></span>
                            <br>
                            <span class="bc-card-data"><%= card.business_card.postalcode %> <%= card.business_card.city %> </span>
                        </div>
                    </div>
                  </div>
              </div>

        </div>

      </div>
      <% end %>
  </div>
</div>


<%= render '/shared/footer' %>

