<!-- <div class="container">
  <div class="row justify-content-center distance-margin-top-bottom">
    <h2>Scan your Card</h1>
    <div>
      <video id="video" width="500" height="400"></video>
    </div>
  </div>
  <%= javascript_pack_tag("rails-qr-code-reader") %>
</div>
-->

<%= link_to business_cards_path, class: 'btn-back'  do %>
    <i class="fas fa-angle-left"></i>
<% end %>

<div class="container h-100" style="margin-top: 100px">
  <div class="header-home text-center distance-margin-top-bottom">
      <h2 class="scan-card">Receive Business Card</h2>
      <div id="btn-action" class="fas fa-handshake handshake"></div>
  </div>
    <div class="row">
        <div class="col-12 my-auto">
          <div class="w-100 mx-auto">
              <div class="container">
                <div class="row">
                    <video id="video" class="w-100" style="border-radius: 10px;"></video>
                </div>
              </div>
          </div>
        </div>
    </div>
     <div class="row justify-content-center distance-margin-top-bottom">
        <div class="col-6 text-center">
            <%= link_to "Scan QR","#", id: "click-scan", class: "btn-scan btn btn-lg" %>
             <%= puts @error_message %>
        </div>

    </div>
    <%= javascript_pack_tag("rails-qr-code-reader") %>
</div>
<%= render '/shared/footer' %>
