<div class="container vh-100">

  <div class="header-collected text-center">
    <i class="fas fa-layer-group header-logo"></i>
    <p>Collected Card</p>
  </div>

  <div class="row h-100">
    <div class="col-12 my-auto">
      <div class="w-80 mx-auto">
          <div class="card-trip business-card-frame" style="margin-bottom: 50px; padding: 5px;">
              <div class="card-trip-infos col-auto mb-3">
                  <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
                  <div>
                      <%= link_to business_card_path(@collectedcard) do  %>
                          <h3><%= @collectedcard.name %></h3>
                      <% end %>
                      <p><strong><%= "Name: #{@collectedcard.firstname} #{@collectedcard.lastname}" %></strong></p>
                      <p><%= "phone: #{@collectedcard.phone}" %></p>
                      <p><%= "email: #{@collectedcard.email}" %></p>
                    </div>
                </div>
            </div>
       


      </div>
    </div>
  </div>
</div>
<%= render '/shared/footer' %>
 

  