<%= link_to collected_cards_path, class: 'btn-back'  do %>
    <i class="fas fa-angle-left"></i>
<% end %>

<div class="container vh-100">

  <div class="header-collected text-center">
    <i class="fas fa-layer-group header-logo"></i>
    <p>Collected Card</p>
  </div>

   <div class="business-card-frame">
    <div class="bc-card-info">
        <div class="bc-card-logo logo-data">
          <%= @collectedcard.business_card.company %>
          <% if @collectedcard.business_card.photo.attached? %>
          <%= cl_image_tag @collectedcard.business_card.photo.key, height: 45, width: 200, crop: :fit %>
          <% end %>
        </div>
        <div class="bc-head">
            <div class="box">
                <div class="box-tag person-data">
                    <span class="bc-card-data card-name"><%= @collectedcard.business_card.firstname %> <%= @collectedcard.business_card.lastname %></span>
                    <br>
                    <span class="bc-card-data card-title"><%= @collectedcard.business_card.jobtitle %></span>
                </div>
            </div>
        </div>
        <div class="bc-body">
            <div class="box">
                <div class="box-tag contact-data">
                    <span class="bc-card-data"><%=@collectedcard.business_card.phone %></span>
                    <br>
                    <span class="bc-card-data"><%= @collectedcard.business_card.email %></span>
                </div>
                <div class="box-tag address-data">
                    <span class="bc-card-data"><%= @collectedcard.business_card.streetname %></span>
                    <br>
                    <span class="bc-card-data"><%= @collectedcard.business_card.postalcode %> <%= @collectedcard.business_card.city %> </span>
                </div>
            </div>
        </div>
    </div>
  </div> 
</div>
<%= render '/shared/footer' %>


