<%= link_to collected_cards_path, class: 'btn-back'  do %>
    <i class="fas fa-angle-left"></i>
<% end %>

<div class="container vh-100">

  <div class="header-collected text-center">
    <i class="fas fa-layer-group header-logo"></i>
    <p>Collected Card</p>
  </div>

  <div class="row">
    <div class="col-12 my-auto">
      <div class="w-80 mx-auto">
          <div class="card-trip business-card-frame" style="margin-bottom: 50px; padding: 5px;">
              <div class="card-trip-infos col-auto mb-3">
                <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
                <div>
                  <h3><%= @collectedcard.business_card.name %></h3>
                  <p><strong><%= "Name: #{@collectedcard.business_card.firstname} #{@collectedcard.business_card.lastname}" %></strong></p>
                  <p><%= "phone: #{@collectedcard.business_card.phone}" %></p>
                  <p><%= "email: #{@collectedcard.business_card.email}" %></p>
                </div>
              </div>
            </div>
            <div class="row text-center show-buttons">
              <div class="col-6 btn-website">
                  <%= link_to "", "http://#{@collectedcard.business_card.website}", class: "fas fa-external-link-alt fa-2x"  %>
              </div>
              <div class="col-6 btn-delete">
                  <%= link_to "", collected_card_path(@collectedcard),method: :delete, remote: true, data: { confirm: 'Are you sure?' }, class: "fas fa-user-times" %> </p>
              </div>
            </div>
       </div>
    </div>
  </div>
</div>
<%= render '/shared/footer' %>


