<div class="container vh-100">
    <div class="row h-100">
        <div class="col-12 my-auto">
            <div class="w-80 mx-auto">
                <div class="business-card-frame">
                    <table id="tablePreview" class="table table-sm table-borderless">
                        <% @cards.each do |card| %>    
                            <!--Table head-->
                            <div class="bc-card-info">
                                <div class="bc-card-logo">
                                    LOGO
                                </div>
                                <div class="bc-head">
                                    <span class="bc-card-tag">firstname</span>
                                    <span class="bc-card-tag">lastname</span>
                                    <br>
                                    <%= card.firstname %>
                                    <%= card.lastname %>
                                </div>
                                <div class="bc-body">
                                    <span class="bc-card-tag">Telephone Nr.</span>
                                    <span class="bc-card-tag">Address</span>
                                    <br> 
                                     <%= card.phone %>
                                </div>
                                <div class="bc-footer">
                                    <span class="bc-card-tag">E-Mail</span>
                                    <%= card.email %>
                                </div>
                            </div> 
                        <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
<%= render '/shared/footer' %>