<div class="container vh-100">
    <div class="row h-100">
        <div class="col-12 my-auto">
            <div class="w-80 mx-auto">
            <!-- ---- --- --- Businesscard Design here --- --- --- --- -->
                <div class="business-card-frame">
                        <% @cards.each do |card| %>    
                            <!--Table head-->
                            <div class="bc-card-info">
                                <div class="bc-card-logo">
                                    LOGO
                                </div>
                                <div class="bc-head">
                                    <div class="box">
                                        <div class="box-tag">
                                            <span class="bc-card-tag">Firstname</span>
                                            <br>
                                            <span class="bc-card-data"><%= card.firstname %></span>
                                        </div>
                                        <div class="box-tag">
                                            <span class="bc-card-tag">Lastname</span>
                                            <br>
                                            <span class="bc-card-data"><%= card.lastname %></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="bc-body">
                                    <div class="box">
                                        <div class="box-tag">
                                            <span class="bc-card-tag">Telephone</span>
                                            <br>
                                            <span class="bc-card-data"><%= card.phone %></span>
                                        </div>
                                        <div class="box-tag">
                                            <span class="bc-card-tag">Address</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="bc-footer">
                                    <div class="box">
                                        <div class="box-tag">
                                            <span class="bc-card-tag">E-Mail</span>
                                            <br>
                                            <span class="bc-card-data"><%= card.email %></span>
                                        </div> 
                                    </div>
                                </div>
                            </div> 
                    <% end %>
                </div>
                <!--- ---- ---- ----  ------ Businesscard Design here ------ ----- ----- ---->
                <div class="mt-100 text-center">
                    <%= link_to "Add new", "#", class: "btn btn-primary rounded" %>
                </div>
            </div>
        </div>
    </div>
</div>
<%= render '/shared/footer' %>