 <div class="business-card-frame">
    <div class="bc-card-info">
        <div class="bc-card-logo">
            <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
            <%= link_to business_card_path(card) do  %>
                <%= card.name %>
            <% end %>
        </div>
        <div class="bc-head">
            <div class="box">
                <div class="box-tag">
                    <span class="bc-card-tag">Firstname</span>
                    <br>
                    <span class="bc-card-data"><%= card.firstname %></span>
                </div>
                <div class="box-tag">
                    <span class="bc-card-tag">Lastname</span>
                    <br>
                    <span class="bc-card-data"><%= card.lastname %></span>
                </div>
            </div>
        </div>
        <div class="bc-body">
            <div class="box">
                <div class="box-tag">
                    <span class="bc-card-tag">Telephone</span>
                    <br>
                    <span class="bc-card-data"><%= card.phone %></span>
                </div>
                <div class="box-tag">
                    <span class="bc-card-tag">Address</span>
                </div>
            </div>
        </div>
        <div class="bc-footer">
            <div class="box">
                <div class="box-tag">
                    <span class="bc-card-tag">E-Mail</span>
                    <br>
                    <span class="bc-card-data"><%= card.email %></span>
                </div>
            </div>
        </div>
    </div>
</div>
