<h1>BusinessCards#new</h1>
<p>Find me in app/views/business_cards/new.html.erb</p>
<div>
 <%= simple_form_for(@card) , class:"bc_new" do |f| %>
  <%= f.input :firstname id:"input1" %>
  <%= f.input :company %>
  <%= f.input :phone %>
  <%= f.input :email %>
  <%= f.input :jobtitle %>
  <%= f.input :website %>
  <%= f.submit %>
<% end %>
</div>

