<!-- <div class="container h-100">
    <div class="header-collected text-center">
      <a class="btn btn-ghost" href="#">Share Card</a>
    </div>
    <h3 class="text-center distance-margin-top-bottom"><%= @card.name %></h3>
    <div class="row">
      <div class="col-12 my-auto">
          <div class="w-100 mx-auto">

          </div>
      </div>
    </div>
  </div>
-->

<%= link_to business_cards_path, class: 'btn-back'  do %>
    <i class="fas fa-angle-left"></i>
<% end %>

<div class="container h-100">
  <div class="header-collected text-center distance-margin-top-bottom">
      <h3 class="text-center distance-margin-top-bottom card-name-show"><%= @card.name %></h3>
      <div id="btn-action" class="btn text-white rounded-pill btn-lg " style="background-color: #FF814C;">Share Card</div>
  </div>
    <div class="row">
        <div class="col-12 my-auto">
          <div class="w-100 mx-auto">

            <section class="custom">
              <div class="container">
                <div class="row">
                  <div class="flipper col-sm-3 col-sm-offset-1">
                      <div class="card">
                        <div class="front">
                            <%= render 'bc_template_front', card: @card %>
                        </div>
                        <div class="back">
                            <%= render 'bc_template_back' %>
                        <div class="goback">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <div class="row text-center w-100 distance-margin-top-bottom">
              <div class="col-6">
                    <p><%= link_to "Edit", edit_business_card_path(@card), class: "btn btn-lg text-white btn-edit", style: "background-color: #2AB7D0;" %> </p>
              </div>
              <div class="col-6">
                    <p><%= link_to "Delete", business_card_path(@card), method: :delete, remote: true, data: { confirm: 'Are you sure?' }, class: "btn btn-ghost btn-lg btn-delete" %></p>
              </div>
            </div>
          </div>
        </div>

    </div>

  </div>
</div>
  <%= render '/shared/footer' %>

