<div class="container vh-100">
  <div class="row text-center my-50">
    <a class="btn btn-ghost" href="#">Share Card</a>
    <h1 class="text-center my-50"><%= @card.name %></h1>
  </div>
  <div class="row h-100">
      <div class="col-12 my-auto">
          <div class="w-100 mx-auto">
              <div class="card-trip business-card-frame" style="margin-bottom: 50px; padding: 5px;">
                  <div class="card-trip-infos col-auto mb-3">
                      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
                      <div>
                          <p><strong><%= "Name: #{@card.firstname} #{@card.lastname}" %></strong></p>
                          <p><%= "phone: #{@card.phone}" %></p>
                          <p><%= "email: #{@card.email}" %></p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="row text-center">
    <div class="col-6">
      <a class="btn btn-flat bg-primary" href="#">Edit</a>
    </div>
    <div class="col-6">
      <p><%= link_to "Delete", business_card_path(@card), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-ghost"  %> </p>
    </div>
  </div>
  <%= render '/shared/footer' %>
</div>

