<!-- <div class="container h-100">
    <div class="header-collected text-center">
      <a class="btn btn-ghost" href="#">Share Card</a>
    </div>
    <h3 class="text-center distance-margin-top-bottom"><%= @card.name %></h3>
    <div class="row">
      <div class="col-12 my-auto">
          <div class="w-100 mx-auto">
              
          </div>
      </div>
    </div>
  </div>
-->
<div class="container h-100">
  <div class="header-collected text-center">
      <a class="btn btn-ghost" href="#">Share Card</a>
  </div>
    <h3 class="text-center distance-margin-top-bottom"><%= @card.name %></h3>
    <div class="row">
        <div class="col-12 my-auto">
          <div class="w-100 mx-auto">

              <section class="custom">
              <div class="container">
                <div class="row">
                  <div class="flipper col-sm-3 col-sm-offset-1">
                      <div class="card">
                        <div class="front">
                          <%= render 'bc_template_front' %>
                        </div>
                        <div class="back">
                          <%= render 'bc_template_back' %>
                          <div class="goback">
                            
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
              </section>

          </div>
        </div>
    </div>
</div>
<div class="row text-center w-100 distance-margin-top-bottom">
    <div class="col-6">
      <a class="btn btn-flat bg-primary" href="#">Edit</a>
    </div>
    <div class="col-6">
            <p><%= link_to "Delete", business_card_path(@card), method: :delete, remote: true, data: { confirm: 'Are you sure?' } %></p> 
    </div>
</div>
  <%= render '/shared/footer' %>

